@use "./root";
@use "./header";
@use "./hero";
@use "./about";

:root {
  --bg: #ffffff;
  --text: #0b1220;
  --muted: #6b6f76;
  --accent: #0b1220;
  --pill-bg: #ffffff;
  --button-bg: #0b1220;
  --button-text: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // outline: 2px solid blueviolet;
}

// base
body {
  margin: 0;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  background: root.$bg;
  color: root.$text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.30;
}
a {
  color: var(--main-color-text);
  text-decoration: none;
  font-size: var(--font-size-base);
}
